<header>
    <div id="nav-bar">
        <div id="left-end">
            <a href="/">
            <h1>Code-Social</h1>
        </a>
        </div>
        <div id="right-end">
        <% if(locals.user){ %>

        <div>
            <a href="/users/profile/<%=user.id%>">
                <%= user.name%>
            </a>
        </div>
        <div>
            <a href="/users/sign-out">
                Sign-Out
            </a>
        </div>
        <%} else {%>
        <div>
            <a href="/users/sign-in"> Sign-In</a>
        </div>
        <div>
            <a href="/users/sign-up">Sign-Up</a>
        </div>
        <%}%>
    </div>
    </div>
</div>
</header>