

<%if(token.isValid){%>
    <form action="/reset_password/new_password" method="post">
        <input type="text" name="password" placeholder="enter password">
        <input type="text" name="confirmPassword" placeholder="re-enter password">
        <input type="hidden" name="access_token" value="<%=token.accessToken%>">
        <input type="submit" value="change password">
        </form>
<%}else{%>
    <p>
        <h1>
            Token has expired
        </h1>
    </p>

<%}%>