#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    font-size: 30px;
    position: relative;
    margin: 0%;
    border: 0%;
    
    
}