<div>
    <p>
        <h1>
            Hello <%= comment.user.name %>
        </h1>
    </p>
    <br>
    <br>
    <br>
    <p>
        <h3>
            Your comment: <strong><%= comment.content %></strong> has been pulished
        </h3>
    </p>
</div>