<h1>Hello, <%= token.user.name %> </h1>
<br>
<br>
<br>
<p>
    your link to reset password is<a href= " http://localhost:8000/reset_password/reset/?access_token=<%= token.accessToken %>" > here </a>
</p>